<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @game.publisher %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @game.platform %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Image file:</strong>
  <%= @game.image_file %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Delete', game_path(@game), method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', games_path %>
