<!DOCTYPE html>
<html>
<head>
  <title>GameReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">  
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="position: fixed; top: 0; width: 100%; z-index: 999;">
<h1 style="color:white;">GameReviews</h1>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/"><h3>Home</h3></a>
    </li>
    <% if session[:user_id] %>
      <li class="nav-item">
        <a class="nav-link" href="/games/new"><h3>Add Game</h3></a>
      </li>
    <% end %>
   </ul>

  
  <ul class="navbar-nav ml-auto">
    <% if session[:user_id] %>
    <li class="nav-item">
      <a class="nav-link"><h3><%= link_to "Logout", logout_path, :method => :delete %><h3></a>
    </li>
      <% else %>
    <li class="nav-item">
      <a class="nav-link" href="/users/new"><h3>Register</h3></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login"><h3>Login</h3></a>
    <% end %>
    </li>
  </ul>
</div>
</nav>

<p class="notice"><%= notice %></p>

<body style="margin-top: 85px;">

<%= content_tag :body, class: controller.controller_name do %>
  <%= yield %>
<% end %>

</body>
</html>
